<h1> About <h1/>
<p>whats is the name of file to run a pip install of a few libraries

    GitHub Copilot
    The file commonly used to specify dependencies and their versions for a Python project is called requirements.txt. You can use this file to list the libraries that your project depends on, along with their version numbers.
    
    To install the libraries listed in a requirements.txt file, you can use the following command in your terminal:
    
    This will install all of the libraries listed in the requirements.txt file, along with their dependencies, if any.
</p>